@tailwind base;
@tailwind components;
@tailwind utilities;

.video-wrapper {
  position: relative;
}
.video-wrapper:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 110%;
  background: linear-gradient(
    180deg,
    rgba(184, 4, 4, 0.72) 0%,
    rgba(161, 3, 3, 0.83) 50%
  );
  z-index: 1;
}
.content {
  box-shadow: rgba(99, 0, 0, 0.3) 1px 3px 20px 3px;
  transform: translate(-50%, -50%);
}
.headline {
  background: rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.thumbnail {
  background: rgba(184, 4, 4, 0.12);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.thumbnail__item__img {
  box-shadow: rgba(139, 0, 0, 0.6) 2px 2px 4px 2px;
  overflow: hidden;
}
.thumbnail-glow {
  box-shadow: rgba(255, 255, 255, 1) 0px 0px 8px 3px;
}
.detail {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 460px;
  height: auto;
}
.detail__img {
  height: 259px;
  position: relative;
}
.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /* display: none; */
  transition: 0.3s;
}
@media (max-width: 460px) {
  .detail {
    width: 90vw;
  }
  .detail__img {
    height: auto;
  }
}
.btn-link {
  background: linear-gradient(180deg, #d20404 0%, #c30404 50%);
  box-shadow: 0 4px 0 0 #840303;
}
.btn-link:hover {
  color: #fff5f5;
}
.thumbnail-overlay {
  background: rgba(0, 0, 0, 0.54);
}
